body {
  margin: 0;
  padding: 0;
  background-color: #e5e5e6;
}

.wrapper{
  margin: 0 auto;
  height: 100vh;
}



.sidebar{
  height: 100%;
  width: 20%;
  background-color: #e5e5e6;
  padding: 5px;
  float: left;
  overflow-y: auto;
}
.right-bar{
  height: 100%;
  width: 80%;
  padding: 5px;
  background-color:#313340;
  background-image: url('../img/bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  float: right;
  overflow: hidden;
}

.footer{
  vertical-align: bottom;
  float: right;
  font-size: 1rem;
  color: white;
}

.big{
  font-size: 40px;
  color: white;
}
.subtext{
  font-size: 22px;
}

.movie_element {
  margin-top: 50px;
  cursor: pointer;
}

.list_image{
  display: block;
  width: 100%;

}

.btn:focus{
  color:black;
}

.collage-container{
  max-width: 80%;
}

.collage-item{
  height: 270px;
  margin: 0;
  padding: 0;
  position: relative;
  left: 0;
}

.collage-img{
  width: 100%;
  height: auto;
  margin: 0px;
  cursor: pointer;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #5cb85c;
  overflow: hidden;
  width: 100%;
  opacity: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay {
  opacity: .9;
}



.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.wrap-word{
  word-wrap: break-word;
}
